<div class="container-fluid">
  <div ng-app="myApp" ng-controller="formCtrl">
    <div class="well">
      <form novalidate>
        First Name:<br>
        <input type="text" ng-model="user.firstName"><br> Last Name:<br>
        <input type="text" ng-model="user.lastName">
        <br><br>
        <button ng-click="reset()">RESET</button>
      </form>
    </div>
    <div class="well">
      <p>form = {{user}}</p>
      <p>master = {{master}}</p>
    </div>
  </div>
</div>


<script>
  let app = angular.module('myApp', []);
  app.controller('formCtrl', function ($scope) {
    $scope.master = { firstName: "John", lastName: "Doe" };
    $scope.reset = function () {
      $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
  });

</script>